#
# Display drivers configuration
#

menu "Display device support"

config DISPLAY_SUPPORT
	tristate "Display panel/monitor support"
	---help---
	  This framework adds support for low-level control of a display.
	  This includes support for power.

	  Enable this to be able to choose the drivers for controlling the
	  physical display panel/monitor on some platforms. This not only
	  covers LCD displays for PDAs but also other types of displays
	  such as CRT, TVout etc.

	  To have support for your specific display panel you will have to
	  select the proper drivers which depend on this option.

comment "Display hardware drivers"
	depends on DISPLAY_SUPPORT

config CH7025_COMPOSITE
    tristate "TV-OUT support (Chrontel CH7025/CH7026 TV Composite)"
    default y
    help
       The device is able to encode the video signals and generate
       synchronization signals SDTV format for NTSC and PAL standards.

config KG2_ANX7150
	tristate "KG2_ANX7150 support"
	default y
	help
	  KG2/ANX7150 device driver support.

config ADI9889
	tristate "ADI9889 support"
	default n
	help
	  ADI9889 device driver support.

config THS8200
       tristate "THS8200 support"

       default y
       help
         THS8200 device driver support.
endmenu
