config DOVE_MRVL_BMM
	tristate "Marvell Buffer management module"
	default y
	help
	  This driver needs to co-work with user space BMM library.
	  The user space driver can use this driver/library to maintain it's own buffer.

config DOVE_VPU_USE_BMM
	bool "Dove VPU use BMM"
	depends on DOVE_MRVL_BMM
	default y
	help
	  Dove VPU use BMM to maintian buffer.

config DOVE_GPU_USE_BMM
	bool "Dove GPU use BMM"
	depends on DOVE_MRVL_BMM && DOVE_VPU_USE_BMM
	default n
	help
	  Dove GPU use BMM to maintian buffer.
